<div id="<%= dom_id tarefa %>">
  <p>
    <strong>Name:</strong>
    <%= tarefa.name %>
  </p>

  <p>
    <strong>Custo:</strong>
    <%= tarefa.custo %>
  </p>

  <p>
    <strong>Datalimite:</strong>
    <%= tarefa.datalimite %>
  </p>

  <p>
    <strong>Ordem:</strong>
    <%= tarefa.ordem %>
  </p>

</div>
