<p style="color: green"><%= notice %></p>

<% content_for :title, "Tarefas" %>

<h1><font size="20px"><center>Tarefas:</center></font></h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Custo</th>
      <th>Data limite</th>
      <th>Ordem</th>
      <th>Função</th>
    </tr>
  </thead>
    <tbody>
  <% @tarefas.each do |tarefa| %>
    <tr id="<%= dom_id tarefa%>">
      <%= render tarefa %>
      <td>
        <div style="display: flex">
          <%= button_to "\u{1f5d1}", tarefa, method: :delete, data: { turbo_confirm: 'Are you sure?' } %> 
          <%= link_to "<button>\u{1f589}</button>".html_safe, edit_tarefa_path(tarefa) %>
          <%= button_to "\u{2191}", tarefa, method: :priorize %>
          <%= button_to "\u{2193}", tarefa, method: :depriorize %>
        </div>
      </td>
    </tr>
  <% end %>
</table>

<h2><font size="20px"><center>Criar nova tarefa:</center></font><h2>

<%= form_with model: @tarefa, url: "/tarefas", method: :post, remote: true do |form| %>
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Custo</th>
      <th>Data limite</th>
      <th>Função</th>
      </tr>
  </thead>
  <tbody>
      <tr>
      <td><%= form.text_field :name %></td>
      <td><%= form.number_field :custo %></td>
      <td><%= form.date_field :datalimite %></td>
      <td><%= form.submit "Create Task" %></td>
    <% end %>
      </tr>
  </tbody>
  <style>
    .table {
      width: 100%;
      border-collapse: collapse;
    }
    .table th, .table td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }
    .table th {
      background-color: #343a40;
      color: white;
      text-align: center;
    }
    .table tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    .table tr:hover {
      background-color: #ddd;
    }
  </style>
</table>
