<p style="color: green"><%= notice %></p>

<% content_for :title, "Tarefas" %>

                          <h1>Tarefas</h1>

<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Custo</th>
      <th>Data limite</th>
      <th>Função</th>
    </tr>
  </thead>
    <tbody>
  <% @tarefas.each do |tarefa| %>
    <tr id="<%= dom_id tarefa%>">
      <%= render tarefa %>
      <td>
        <div style="display: flex">
          <%= button_to "\u{1f5d1}", tarefa, method: :delete %> 
          <%= link_to "\u{1f589}", edit_tarefa_path(tarefa) %> 
          <%= button_to "priorizar", tarefa, method: :priorize %>
          <%= button_to "adiar", tarefa, method: :depriorize %>
        </div>
      </td>
    </tr>
  <% end %>
</table>

                      <h2>Criar nova tarefa<h2>

<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Custo</th>
      <th>Data limite</th>
      <th>Ordem de apresentação</th>
      <th>Função</th>
      </tr>
  </thead>
  <tbody>
    <tr>
    <%= form_with model: @tarefa, url: "/tarefas", method: :post, local: true do |form| %>
      <td><%= form.text_field :name %></td>
      <td><%= form.number_field :custo %></td>
      <td><%= form.date_field :datalimite %></td>
      <td><%= form.number_field :ordem, min: 1, max: Tarefa.count + 1, step: 1, :value => Tarefa.count + 1 %></td>
      <td><%= form.submit "Create Task", input_field_name: nil %></td>
    <% end %>
    </tr>
  </tbody>
  <style>
    .table {
      width: 100%;
      border-collapse: collapse;
    }
    .table th, .table td {
      border: 1px solid #ddd;
      padding: 8px;
    }
    .table th {
      background-color: #343a40;
      color: white;
      text-align: left;
    }
    .table tr:nth-child(even) {
      background-color: #f2f2f2;
    }
    .table tr:hover {
      background-color: #ddd;
    }
  </style>
</table>
